{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    {% for message in messages %} {% if message %}
    <div class="alert alert-success">{{ message }}</div>
    {% endif %} {% endfor %}
    <div class="col-md-4">
      <form action="{% url 'ubah_formula' formula.id %}" method="post">
        {% csrf_token %} {{ form }}
        <button class="btn btn-primary">Add data</button>
        <a href="/formula" class="btn btn-danger">Kembali</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
